.App {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/*.App header {*/
/*    flex: 0 1 auto;*/
/*}*/

.App .content {
    flex: 1 1 100%;
    overflow: auto;
}

.MeetComponent {
    height: 100%;
}
