.MeetComponentRoot {
    height: 100%;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 45%;
}

.MeetContainer {
    height: 100%;
    width: 100%;
}

.MeetContainer.Loading {
    display: none;
}
