.LobbyContainer {
    height: 100%;
    width: 100%;
    padding: 48px;
    text-align: left;
    background-color: #fff;
}

.LobbyContainer > .LobbyItem {
    margin-bottom: 24px;
}

.LobbyContainer > .LobbyFooter {
    align-self: flex-end;
}


.Image {
    max-width: 600px;
    width: 100%;
    height: auto;
}

.AlertMessage, .AlertIcon {
    color: #D64550;
    font-weight: 600;
}


.Title {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
}

.Body1, .Body2, .FootNote {
    font-size: 20px;
}

.Body1, .FootNote {
    font-style: normal;
    font-weight: normal;
}

.Body2 {
    font-style: italic;
    font-weight: 300;
}
